---
---
{
{% for post in site.posts %}
  "{{ post.path }}": {
      "content_type": "post",
      "title": "{{ post.title }}",
      "title_length": {{ post.title | size }},
      "url": "{{ post.url }}",
      "description": "{{ post.description }}",
      "description_length": {{ post.description | size }},
      "header_teaser": "{{ post.header.teaser }}"
  },
{% endfor %}

{% for collection in site.collections %}
{% if collection.label != 'posts' %}
{% for post in collection.docs %}
  "{{ post.path }}": {
      "content_type": "collection",
      "title": "{{ post.title }}",
      "title_length": {{ post.title | size }},
      "url": "{{ post.url }}",
      "description": "{{ post.description }}",
      "description_length": {{ post.description | size }},
      "header_teaser": "{{ post.header.teaser }}"
  },
{% endfor %}
{% endif %}
{% endfor %}

{% for post in site.pages %}
  "{{ post.path }}": {
      "content_type": "page",
      "title": "{{ post.title }}",
      "title_length": {{ post.title | size }},
      "url": "{{ post.url }}",
      "description": "{{ post.description }}",
      "description_length": {{ post.description | size }},
      "header_teaser": "{{ post.header.teaser }}"
  }{% if forloop.last == false %},{% endif %}
{% endfor %}
}
